/*Style dashboard conteúdo da Direita/Right*/
.content-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px 30px;
  box-sizing: border-box;
}

.breadcrumb {
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
  /* display: flex;
  gap: 10px; */
}

.breadcrumb li {
  display: inline; /*um ao lado do outro*/
  font-size: 16px;
}

.breadcrumb li a {
  text-decoration: none;
  font-size: 16px;
  color: #71717a;
}

/*Se ele for o ultimo elemento(last-child)*/
.breadcrumb li:last-child {
  color: #4658ac;
}

/*Not -> não for o ultimo elemento*/
.breadcrumb li:not(:last-child)::after {
  content: " > ";
  color: #a1a1aa;
}

.module-container {
  background-color: #4558ac10;
  width: 100%;
  height: 100vh;
  padding: 10px 30px;
  box-sizing: border-box;
}

.title-module {
  font-size: 32px;
  font-weight: 600;
}

.menu-module ul {
  display: flex;
  padding: 0 20px;
}

.menu-module ul li {
  list-style: none; /*Tira a estilização de lista*/
  margin-right: 10px;
  color: #71717a;
  cursor: pointer;
}

.menu-module ul li.item-module-active {
  color: #4256d0;
  padding-bottom: 5px;
  border-bottom: 3px solid #4256d0;
}

.content-module {
  background-color: #fff;
  border-radius: 12px;
  height: 300px;
  padding: 40px;
}

.header-module {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-module h2 {
  font-weight: normal;
  font-size: 18px;
  color: #27272a;
}

.add-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #4763e4;
  color: #fff;
  padding: 8px 12px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.add-button span {
  font-weight: bold;
  font-size: 20px;
}

.search-box {
  position: relative;
  margin: 30px 0;
}

.search-input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #4763e450;
  padding: 12px 40px;
  box-sizing: border-box;
  color: #a1a1aa;
}

.search-input:focus {
  outline: none;
  border: 2px solid #4763e450;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.values-items {
  border-collapse: collapse; /*p a borda ser contínua*/
}

.values-items thead {
  text-align: left;
  color: #a1a1aa;
}

.values-items thead tr th {
  font-size: 16px;
  font-weight: normal;
  padding: 10px 0;
}

.values-items tbody tr td {
  padding: 10px 0;
  border-bottom: 1px solid #f4f4f5;
}

.paid-status {
  background-color: #dcfce7;
  color: #166534;
  width: 100px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
}

.pending-status {
  background-color: #fee2e2;
  color: #991b1b;
  width: 100px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
}

.pending-payment {
  background-color: #dc2626;
  color: #fff;
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.actions-table {
  display: flex;
  gap: 5px;
}

.content-delete,
.content-edit {
  position: relative;
}

.delete-icon {
  color: #dc2626;
  font-size: 24px;
  cursor: pointer;
}

.content-delete .hover-delete,
.content-edit .hover-edit {
  display: none;
}

/*Quando passar o mouse no icon da lixeira*/
.content-delete:hover .hover-delete {
  display: flex;
  top: 0px;
  left: -80px;
  position: absolute;
  background-color: #dc2626;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
}

.edit-icon {
  color: #5c73db;
  font-size: 24px;
  cursor: pointer;
}

/*Quando passar o mouse no icon do lapis*/
.content-edit:hover .hover-edit {
  display: flex;
  top: 0px;
  right: -80px;
  position: absolute;
  background-color: #5c73db;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
}
